{% comment %}Logic to either show all blogs if posts type or just to show content from other blogs{% endcomment %}
{% include 'archive-logic' %}
{% if blog.handle == 'posts' %}{% else %}{% assign articles_all = blogs[blog.handle].articles %}{% endif %}

{% if current_tags %}
	<div class="intro-text">
		Below are articles containing tag(s) "<strong>{{current_tags}}</strong>":
</div>
{% endif %}

<ul id="blogArticles">
	{% for article in articles_all limit: 100  %}
		{% comment %}Tag logic{% endcomment %}
		{% assign tagFlag = false %}		
		{% if current_tags %}					
			{% for tag in article.tags %}
				{% assign tag = tag | strip %}
				{% for currentTag in current_tags %}					
					{% if currentTag == tag  %}
						{% assign tagFlag = true %} 
					{% endif %}				
				{% endfor %}
			{% endfor %}
			{% if tagFlag == true %}
				<li class="article-row {{blog.handle | strip}}">{% include 'blog_row' with article %}</li>
			{% endif %}		
		{% else %}
			<li class="article-row {{blog.handle | strip}}">{% include 'blog_row' with article %}</li>
		{% endif %}
	{% endfor %}
</ul>


         
											