<!-- page content -->
<div class="{% if settings.sidebar-home-enable %}{{settings.homepage-grid-home-main-class}}{% else %}col-lg-12{% endif %}" id="main" role="main">
	<div class="main-col-wrapper  " >
		{% unless settings.homepage-content == blank %}
			{% assign homepage = pages[settings.homepage-content] %}
			<div class="strike-line" style="margin: 50px 0 65px;"><h1 class="home-page">{{homepage.title}}</h1></div>			
			{% include 'shortcode' load: homepage.content %}
			{% if settings.layout-home-carousel-bar-enable  %}
			{% if  template contains 'index'%}

			<div class="feature-carousel content-carousel" >

						{% include 'featured-carousel' 	hide_title : true
														snippet : 'shortcode-homepage-flipcard'
														title : collections[settings.layout-home-carousel-bar-collection].title
														list : collections[settings.layout-home-carousel-bar-collection] %}												
					
			</div>
			{%endif%}
			{%endif%}			
			
		{% endunless %}			
   </div>
</div>
{% if settings.sidebar-home-enable %}
<!-- sidebar -->
<div class="{{settings.homepage-grid-home-sidebar-class}}"  >
	<div  id="sidebar">
		<div id="sidebar-wrapper">
			{% if settings.sidebar-home-snippet != blank %}
			{% include settings.sidebar-home-snippet %}
			{%else%}
			{% include 'warning' type : 'no-sidebar' %}	

			
			{%endif%}
			
		</div>								
	</div>                
</div>
{% endif %}