{% assign form-type = 'horizontal' %}

<div class="panel-group" role="tablist" aria-multiselectable="true">
	<div id="section-login">
		<h2>{{'accounts.login' | t}}</h2> {% include 'forms' formType : 'customer_login' %}
	</div>
	<div id="section-reset" class="hidden">
		<h2>{{'accounts.password-reset' | t}}</h2>
		<p>{{'accounts.password-reset-text' | t}} </p>
		<p style="margin-bottom: 24px;"><em>{{'accounts.password-reset-junk-email' | t}}</em></p>
		{% include 'forms' formType : 'recover_customer_password' labelClass : 'sr-only' controlClass : 'col-xs-7' ph_flag : true %}
	</div>
</div>

{% if shop.checkout.guest_login %}
	<h2 style="padding-top: 48px;">Guest Login</h2>
	<div class="form-horizontal">
		{% form 'guest_login' %}
		<div class="form-group">
			<div class="col-lg-12">
				<input class="btn btn-primary" type="submit" value="Continue as Guest" />
			</div>
		</div>
		{% endform %}
	</div>
{% endif %} 