<table class="table" width="608" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
	<tbody>

		<!-- TITLE -->

		<tr>
			<td class="title-cell" width="560" align="left" style="<%= titleStyle %>">
				Password Reset
			</td>
		</tr>

		<!-- SUBTITLE -->

		<tr>
			<td class="subtitle-cell" width="560" align="left" style="<%= subtitleStyle %>">
				Changing the password for your {{shop.name}} account.
			</td>
		</tr>

		<!-- BODY WRAPPER -->

		<tr>
			<td class="body-cell" width="560" align="left" style="padding-top: 0px; padding-left: 24px; padding-right: 24px; padding-bottom: 18px; border-collapse:collapse;">
				<table class="message-table" width="560" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
					<tbody>

						<!-- BODY MESSAGE -->

						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								Hello{% if customer.name %} {{ customer.name }}{% endif %},
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								We understand you'd like reset your password for your account at {{shop.name}}. All you have to do is click the link below to get started:
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								{{ customer.reset_password_url }}
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="padding-bottom: 12px; font-family: 'Open Sans',arial,helvetica,sans-serif; font-size: 15px; line-height: 20px; color: #666666; border-collapse:collapse;">
								If you received this email in error, you can safely ignore it.
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								Thanks for shopping at {{shop.name}}. If have any questions or comments, you can reach us {% if '<%= tollFree %>' |size > 3 %}toll free at <strong><%= tollFree %></strong>{% else %}at <strong><%= phone %></strong>{% endif %} 
								{%if '<%= operatingHours %>' | size > 5 %}<%= operatingHours %>{% endif %}.
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %> ;padding-bottom: 18px;">
								All the best,
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %> ;font-style: italic;">
								<%= salutation %>
							</td>
						</tr>
						<!-- END BODY MESSAGE -->
					</tbody>
				</table>
			</td>
		</tr>