<!-- MESSAGE -->

<table class="table" width="608" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
	<tbody>

		<!-- TITLE -->

		<tr>
			<td class="title-cell" width="560" align="left" style="<%= titleStyle %>">
				Shipment Update
			</td>
		</tr>

		<!-- SUBTITLE -->

		<tr>
			<td class="subtitle-cell" width="560" align="left" style="<%= subtitleStyle %>">
				Here's the current status of your order {{ name }}.
			</td>
		</tr>

		<!-- BODY WRAPPER -->

		<tr>
			<td class="body-cell" width="560" align="left" style="padding-top: 0px; padding-left: 24px; padding-right: 24px; padding-bottom: 18px; border-collapse:collapse;">
				<table class="message-table" width="560" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
					<tbody>

						<!-- BODY MESSAGE -->

						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								Hello{% if customer.name %} {{ customer.name }}{% endif %},
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								Below is the latest shipping information for the following items from your order {{ name }}:
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodySmallStyle %>">

								<ul style="list-style-type: none; padding: 0; margin: 0;">

									{% for line in fulfillment.fulfillment_line_items %}

									<li style="padding-bottom: 6px;"> <img src="{{ line.line_item | img_url: 'small' }}" /> {{ line.quantity }} x {{ line.line_item.title }}</li>

									{% endfor %}

								</ul>
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								These items are being shipped{% if fulfillment.tracking_company %} via {{ fulfillment.tracking_company }}{% endif %} with tracking number {{ fulfillment.tracking_number }}.
								<a href="{{ fulfillment.tracking_url }}">
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								<a href="{{ fulfillment.tracking_url }}">Click here to see the status of this shipment</a>
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								Please allow some time for the status of the shipment to correctly display at the above link.
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %>">
								Thanks for shopping with {{shop.name}}. If have any questions or comments about this shipping update, you can reach us {% if '<%= tollFree %>' |size > 3 %}toll free at <strong><%= tollFree %></strong>{% else %}at <strong><%= phone %></strong>{% endif %} 
								{%if '<%= operatingHours %>' | size > 5 %}<%= operatingHours %>{% endif %}.
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %> ;padding-bottom: 18px;">
								All the best,
							</td>
						</tr>
						<tr>
							<td class="message-cell" width="560" style="<%= bodyStyle %> ;font-style: italic;">
								{{salutation}}
							</td>
						</tr>

						<!-- END BODY MESSAGE -->

					</tbody>
				</table>
			</td>
		</tr>