<div class="panel panel-default">
	<div class="panel-heading">
		Create a New  Account
	</div>
	<div class="panel-body">
		<p> If you don't have a Customer Account yet, click on the button below to get started!</p>					   
		<a class="btn btn-primary btn-sm" href="{{ shop.url }}/account/register">Let's Get Started!</a>		
	</div>
	
</div>

	
