<ul id="proximity-notifications" style="margin-bottom: 0">
	<li>45 Minutes from Orlando...</li>
	<li>18 Minutes from Leesburg International Airport...</li>
	<li>43 minutes from Walt Disney World...</li>
	<li>48 minutes from Orlando International Airport... </li>
	<li>94 minutes from Tampa International Airport... </li>
	<li>43 minutes from SeaWorld Orlando...</li>
	<li>20 minutes from beautiful lakefront Mount Dora (quaint shops and dining)...</li>
	<li>4 minutes from the incredible Yalaha Austrian Bakery...</li>
	<li>14 minutes from Lake Ridge Winery...</li>
	<li>43 minutes from Universal Studios Orlando...</li>		
</ul>	


<style>
	#proximity-notifications {list-style: none; padding:0; margin: 0 0 24px;}
	#proximity-notifications li {display: none;}
</style>
<script type="text/javascript">

$(function(){
	$('#proximity-notifications').textRotator();
	
})
!function(t){t.textRotator=function(e,n){var i={random:!0,fadeIn:1e3,fadeOut:500,duration:5e3,debug:!1,onFoo:function(){}},l=this;l.settings={},l.globals={child_select:1,$child_select:null};var a=t(e),e=e;l.init=function(){l.settings=t.extend({},i,n),l.settings.random&&(l.globals.child_select=Math.floor(Math.random()*a.children().length+1)),l.globals.$child_select=a.find("li:nth-child("+l.globals.child_select+")"),l._fadeIn()},l._fadeIn=function(){l.globals.$child_select.fadeIn({duration:l.settings.fadeIn,easing:"swing",complete:function(){l._fadeOut()}})},l._fadeOut=function(){l.globals.$child_select.delay(l.settings.duration).fadeOut({duration:l.settings.fadeOut,easing:"swing",complete:function(){l.globals.$child_select=l.globals.$child_select.next("li").text().length>0?l.globals.$child_select.next("li"):a.find("li:first"),l._fadeIn()}})};l.init()},t.fn.textRotator=function(e){return this.each(function(){if(void 0==t(this).data("textRotator")){var n=new t.textRotator(this,e);t(this).data("textRotator",n)}})}}(jQuery);
</script>