<div id="header-top-wrapper">
	<div class="container">
		<div class="column-wrapper">			
			<div class="row" style="position: relative;">
			<!-- header -->
				<div class="header-logo col-md-4">
					<a href="/">
						<span class="sr-only">{{ shop.name }}</span>
						<img src="{{'branding-logo-image-file.png' | asset_url}}" alt="{{shop.name}} Logo" class="{{settings.branding-logo-icon-class}} " style="" />		        
					</a>
				</div>
				<!-- navigation -->
				<div id="navigation-wrapper" class="col-md-8">
					<div class="header-global-html hidden-sm hidden-xs align-right-md">
						{% if settings.layout-utility-bar == false %}{% include 'nav_account_cart'%}{% endif%}
					</div>
					{% include 'navbar'  %}
				</div>              
			</div>			
		</div>
	</div>
</div>
{% if settings.layout-utility-bar  %}{% include 'nav_account_cart'%}{% endif%}
<div id="slideshow" style="height: 450px;">
	<a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=ueVb36RsWs8',showControls:false,containment:'#slideshow',autoPlay:true,stopMovieOnBlur: false, mute:true, startAt:6,stopAt:95,showYTLogo:false}">My video</a>

</div>
