

<!-- Modal -->
<div class="modal fade general-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle fa-2x"></i></button>
                <div class="logo"><img src="" style="max-width: 240px;" alt="Logo" /></div>
            </div>
            <div class="modal-body">
				<div class="h1">Privacy Policy</div>
				<p class="intro-text">Your Privacy Matters</p>
				<p>Mission Inn Resort &amp; Club ("Mission Inn") is aware of the need to address Internet privacy issues, and you should be aware of how or our organization treats any information about you that we may receive via the Internet as a result of your visit to this site.</p>
				
				<p><strong>You may visit this website without telling us who you are or revealing any information about yourself.</strong></p>
				<p>Our web servers may automatically collect domain names, IP addresses and anonymous referring links of its visitors, but it does not collect their e-mail addresses or any other personal information without their consent.</p>
				
				<h3>Use of Any Personal Information Provided</h3>
				
				<p>Mission Inn collects personal information from this web site - through its online forms, e-mail list registrations, etc. - ONLY for the purposes of continuing future correspondence. All personal information collected is held in the strictest confidence. Any personal information obtained, in addition to any personal information that you voluntarily provided us, such as contact details, demographics, intended product application, and experience with our products and/or services, may be used only for the following purposes:</p>
				
				<ul class="custom-bullets">
					<li>To provide our products or services to you;</li>
					<li>To administer and maintain our records;</li>
					<li>To perform internal customer service monitoring;</li>             
					<li>To ensure that the service we offer you continues to be the most appropriate service for your needs;</li>        
					<li>To respond to any query that you may raise with us;</li>   
					<li>To provide an enhanced service to you;</li>
					<li>To perform research and statistical analysis.</li>    
				</ul>
				
				<p><strong>Mission Inn does not use your personal information for any other purpose other than that stated above, nor does it sell, rent or otherwise improperly disclose this information to outside parties.</strong></p>
				
				<p>Mission Inn may disclose information to other companies within the same group of companies as Mission Inn Inc.</p>
				
				<p>The period of use of the personal data supplied by you will not be longer than deemed necessary by Mission Inn Inc. or any of its group of companies.</p>
				
				<p>For more information, please <a href="/pages/about-us">Contact Us</a>.</p>					
            </div>
            <div class="modal-footer">              
            </div>
        </div>        
    </div>
</div>