<div>
    <div class="row">
        <div class="col-md-6">
            <div style="font-size: 1.2em;">St. Maarten <a href="" style="padding: 2px 8px; margin:0 30px; line-height: 30px; top: 5px; position: relative;" class="btn btn-secondary " >Switch to Coszumel</a></div>
        </div>
        <div class="col-md-6">{% include 'navbar' linklist : settings.navigation-linklist-utility, type : 'top-header-nav' %}</div>
    </div>
</div>