<div class="flipcard-wrapper">
	<div class="row" style="padding-top: 36px;">	
		{% include 'utility'  	type : 'flipcard'
								format : 'burst'
								speed : 1.5
								image : 'banner-accommodations-gift-certificates.jpg'
								title : 'Mission Inn Resort'
								subtitle : 'General Gift Certificates'							
								text : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut odio in augue rhoncus iaculis eu vitae nibh. Etiam id tellus venenatis, vulputate velit eu, consectetur neque. '
								link : '/collections/accommodations-gift-certificates'
								class : 'col-md-4'
								style : 'max-height: 300px; max-width: 300px;margin-bottom: 12px;'
								style_content : 'background-color: #88acbd; '
		
		%}
		{% include 'utility'  	type : 'flipcard'
								format : 'burst'							
								speed : 1.5
								image : 'banner-spa-gift-certificates.jpg'
								title : 'Marbella Spa'
								subtitle : 'Spa Gift Certificates'							
								text : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut odio in augue rhoncus iaculis eu vitae nibh. Etiam id tellus venenatis, vulputate velit eu, consectetur neque. '
								link : '/collections/spa-gift-certificates'
								class : 'col-md-4'
								style : 'max-height: 300px; max-width: 300px;margin-bottom: 12px;'
								style_content : 'background-color: #b0bd88; '							
		
		%}
		{% include 'utility'  	type : 'flipcard'
								format : 'burst'
								speed : 1.5
								image : 'banner-dining-gift-certificates.jpg'
								title : 'Cuisine'
								subtitle : 'Dining Gift Certificates'							
								text : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut odio in augue rhoncus iaculis eu vitae nibh. Etiam id tellus venenatis, vulputate velit eu, consectetur neque. '
								link : '/collections/dining-gift-certificates'
								class : 'col-md-4'
								style : 'max-height: 300px; max-width: 300px;'
								style_content : 'background-color: #eccdaf; '							
		
		%}	
	
	</div>	
</div>
