<div class="modular modular-book-now " >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="h2">Ready to Book Your 12 Metre Adventure?</div>
                <div class="">
                    <span><a href="" class="btn btn-primary btn-lg">Book Online</a></span>
                    <span>Or Call Toll Free</span>
                </div>
            </div>
        </div>
    </div>     
</div>