<div class="modular modular-gallery script-parallax" data-ratio="4" data-offset="-10"  data-background="{{ 'parallax-test2.jpg' | asset_url}}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="h2">Gallery</div>
            </div>
        </div>
    </div>  
</div>