<div class="modular modular-social-feed">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="h2">Social Feed</div>
            </div>
        </div>
    </div>  
</div>