{% if type == 'no-sidebar'%}
<div class="panel panel-danger" style="padding: 8px; font-size: 0.85em;">
	<div class="panel-heading">
		<strong>Warning - No Sidebar</strong> 
	</div>
	<div class="panel-body">
		<em>A sidebar has been selected, but no snippet has been selected.  You can choose a snippet by going to theme options under Sidebar</em>
	</div>
	
</div>
{% endif %}